[Desktop Entry]
Version=1.0
Name=Edelweis 
Comment=Edelweis P2P Cryptocurrency
Comment[fr]=Edelweis, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Edelweis, eşten eşe kriptografik sanal para birimi
Exec=edelweis-qt %u
Terminal=false
Type=Application
Icon=edelweis128
MimeType=x-scheme-handler/edelweis;
Categories=Office;Finance;
StartupWMClass=edelweis-qt
